/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/
.headerComponent{
  background-color: #009E2D;
  display: flex;
}

  li:last-child {
    border: none;
  }

  li {
    
      float: left;
      display: inline-block;
      background-color: #009E2D;
      font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
      font-weight: bold;   
    }
     
  li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    width: 300px;
  
  
    
    text-align: center;
    padding: 14px 16px;
    
    font-size: 17px;
  
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  li a:hover {
    font-size: 30px;
    background-color: #ddd;
    color: black;
  }
  
  
    /* everywhere else */
    * {
      font-family: Arial, Helvetica, sans-serif;\
      font-weight: bold;
    }
  /* Add a black background color to the top navigation */
  
  
  /* Style the links inside the navigation bar */
  .headerComponent a {
    
  }
  
  
  
  