<div class="searchfood">
<input type="text" name="search" placeholder="Search..">
</div>
<div class="page">
<div class="nutritiondata">
    <div class="details">
        <h1>Nutrition Details</h1>
        <hr/>
        <table style="width:100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Unit</th>
              <th>DRV</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <th>Calories</th>
            <th>0</th>
            <th>kcal</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Carbs</th>
            <th>0</th>
            <th>g</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Fat</th>
            <th>0</th>
            <th>g</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Protein</th>
            <th>0</th>
            <th>g</th>
            <th>0</th>
          </tr>
          </tbody>
        </table>
    </div>
    <div class="ingredients">
        <h1>Ingredients</h1>
        <hr/>
        <table style="width:100%" id="ingredients">
          <thead>
            <th>Food name</th>
            <th>g</th>
          </thead>
          <tbody>
            <tr>

            </tr>
          </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class= "save">
      <button>Save</button>
    </div>
</div>   


</div>

 