input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
   
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 20%;
}

.details{
    border: 2px solid rgb(57, 236, 117);
    float: left;
    width:50%;
    background-color: rgb(82, 197, 149);
    
}

.ingredients{
    border: 2px solid rgb(57, 236, 117);
    width:49%;
    float:right;
    height: 500px;
    overflow-y: scroll;
}
.clearfix{
    clear:both
}
#h1{
    text-align:center;
}

#foods {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
}

#foods td, #foods th {
    border: 1px solid #ddd;
    padding: 8px;
}

#foods tr:nth-child(even){background-color: #f2f2f2;}

#foods tr:hover {background-color: #ddd;}

#foods th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
h2{
    background: #4CAF50;
}
