<div class="searchfood">
<input type="text" name="search" placeholder="Search.." #foodName>
<input type="text" name="foodAmount" placeholder="Amount(g)" #foodAmount>
<button name="submit" type="submit" id="contact-submit" data-submit="...Sending" (click)="addFood(foodName.value, foodAmount.value)">Add food</button>
</div>
<div class="page">
<div class="nutritiondata">
    <div class="details">
        <h2>Nutrition Details</h2>
        <br/>
        
        
        <table id="foods" style="width:100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Unit</th>
              <th>DRV</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <th>Calories</th>
            <th>{{currentCalorie | number : '1.2-2' }}</th>
            <th>kcal</th>
            <th>{{currentDRV | number : '1.2-2' }}</th>
          </tr>
          <tr>
            <th>Carbs</th>
            <th>{{currentCarb / max |number : '1.2-2' }}</th>
            <th>%</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Fat</th>
            <th>{{currentFat / max | number : '1.2-2' }}</th>
            <th>%</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Protein</th>
            <th>{{currentProtein / max | number : '1.2-2' }}</th>
            <th>%</th>
            <th>0</th>
          </tr>
          </tbody>
        </table>
    </div>
    <div id="foods" class="ingredients">
        <h2>Ingredients</h2>
        <table style="width:100%" id="ingredients">
          <thead>
            <th>Food name</th>
            <th>g</th>
          </thead>
          <tbody *ngFor="let food of foodList let i = index" (click)="deleteFood(i)" [class.active]="i == selectedRow">
            <tr >
              <th> {{food.name}}</th>
              <th> {{food.amount | number : '1.2-2' }}</th>
            </tr>
          </tbody>
          
        </table>
    </div>
    <div class="clearfix"></div>
    <div class= "save">
      <input type="button" value="save" (click)="saveDiary()"/>
    </div>
</div>   
<div *ngFor="let food of foodList">
    {{food | json}}
  </div>

</div>

 