<div class="searchfood">
<input type="text" name="search" placeholder="Search.." #foodName>
<button name="submit" type="submit" id="contact-submit" data-submit="...Sending" (click)="addFood(foodName.value)">Add food</button>
</div>
<div class="page">
<div class="nutritiondata">
    <div class="details">
        <h2>Nutrition Details</h2>
        <br/>
        
        
        <table id="foods" style="width:100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Unit</th>
              <th>DRV</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <th>Calories</th>
            <th>{{currentCalorie}}</th>
            <th>kcal</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Carbs</th>
            <th>{{currentCarb / max}}</th>
            <th>%</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Fat</th>
            <th>{{currentFat / max}}</th>
            <th>%</th>
            <th>0</th>
          </tr>
          <tr>
            <th>Protein</th>
            <th>{{currentProtein / max}}</th>
            <th>%</th>
            <th>0</th>
          </tr>
          </tbody>
        </table>
    </div>
    <div id="foods" class="ingredients">
        <h1>Ingredients</h1>
        <hr/>
        <table style="width:100%" id="ingredients">
          <thead>
            <th>Food name</th>
            <th>g</th>
          </thead>
          <tbody *ngFor="let food of foodList">
            <tr >
              <th> {{food.name}}</th>
              <th> {{food.amount}}</th>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <div class= "save">
      <button>Save</button>
    </div>
</div>   
<div *ngFor="let food of foodList">
    {{food | json}}
  </div>

</div>

 