<div class="headerComponent">
  <ul>
    <li *ngFor="let item of menuItems">
      <a href={{item.link}}> {{item.name}}</a>
    </li>
  </ul>
</div>


<!--
<div id="header-wrapper">
  <div id="header" class="container">
    <div id="logo">
        <h1><a href="#">PlainDisplay</a></h1>
        
    </div>
    <div id="menu">
      <ul>
        
        <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
        <li><a href="foodsearch.html" accesskey="2" title="">Food Search</a></li>
        <li><a href="recipesearch.html" accesskey="3" title="">Recipe Search</a></li>
        <li><a href="register.html" accesskey="4" title="">Sign in/up</a></li>
        <li><a href="contact.html" accesskey="5" title="">Contact Us</a></li>
      </ul>
    </div>
  </div>
  </div>
-->