<div *ngIf="userLoggedIn">
  <div class="dropdown" style="float:right;">
      <button class="dropbtn">Profile</button>
      <div class="dropdown-content">
        <li>
          <a routerLink="/profile">Profile settings</a>
        </li>
        <li>
          <a routerLink="/diary">My diary</a>
        </li>
        <li>
          <a routerLink="/myrecipes">My Recipes</a>
        </li>
        <li>
          <a (click)='logout()' routerLink="/index">Logout</a>
        </li>
      </div>
  </div>
</div>
