<div id="banner">
  <div class="container">
    <div class="title">
      <h2>Create your account now</h2>
      <span class="byline">Easy, accessible and free</span> </div>
    <ul class="actions">
      <li><a routerLink="/login" class="button">Register here</a></li>
    </ul>
  </div>
</div>
<div id="extra" class="container">
  <div class="title">
    <h2>Plan your diet</h2>
    <span class="byline">Track your macros, create recipes and much more</span> </div>
  <div id="three-column">
    <div class="boxA">
      <div class="box"> <span class="fa fa-cloud-download"></span>
        <img src  = "../../assets/food1.jpg" width = "212" height = "147"/>
        <p>Track everything! Protein, fat, calories, vitamins, minerals and much more!</p>
      </div>
    </div>
    <div class="boxB">
      <div class="box"> <span class="fa fa-cogs"></span>
        <img src = "../../assets/food2.jpg" width = "212" height = "147" alt = "OMEGALUL"/>
        <p>Search for your ingredients and make your daily diet healthier than ever!</p>
      </div>
    </div>
    <div class="boxC">
      <div class="box"> <span class="fa fa-user"></span>
        <img src  = "../../assets/food3.png" width = "212" height = "147"/>
        <p> Make your own recipes and you can add them as a whole to your plan! Eat healthy and consciously!</p>
      </div>
    </div>
    <ul class="actions">
      <li><a routerLink="/foodsearch" class="button">Search for a food</a></li>
    </ul>
  </div>
  
</div>
<div id="featured">
  <div class="container">
    <div class="title">
      <h2>Do you have any questions or constructive critique?</h2>
      <span class="byline">Contact us!</span> </div>
    <p>We are more than happy to take critique and improve our site. We want the best for all of us!</p>
  </div>
  <ul class="actions">
    <li><a routerLink="/contact" class="button">Contact us</a></li>
  </ul>
</div>
