<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<div class="register">  
  <h2>Register here!</h2>
  <form id="contact" method="post" (submit)="registerUser($event)">
      <input placeholder="Email" type="text" tabindex="1" required autofocus>
      <input placeholder="UserName" type="text" tabindex="2" required>
      <input placeholder="Password" type="password" tabindex="3" required>
      <input value="submit" type="submit">
      <div *ngIf="errorFlag">
        <h3>Registration failed!</h3>
      </div>
  </form>
</div>
