<div class="container">  
  <form id="contact" action="" method="post">

      <input placeholder="Email" type="email" tabindex="1" required autofocus>

      <input placeholder="UserName" type="text" tabindex="2" #username>

      <input placeholder="Password" type="password" tabindex="3" required>

      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" (click)="getUser(username.value)">Register</button>

  </form>
</div>
<p>AHAHA</p>
<h2>1 {{user.username}}</h2>
<h2>2 {{user.email}}</h2>
<h2>3 {{user.password}}</h2>
<h2>4 {{user.diary}}</h2>
<h2>5 {{user.recipes}}</h2>
<h2>6 {{user.role}}</h2>
