<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<div class="login">  
  <h2>Login here!</h2>
  <form id="contact" (submit)="loginUser($event)" method="post">
      <input placeholder="Username" type="text" tabindex="1" required autofocus>
      <input placeholder="Password" type="password" tabindex="2" required>
      <input value="Login" type="submit">
      <div *ngIf="errorFlag">
        <h3>Login failed!</h3>
      </div>
  </form>
  <br/>
</div>
